body {
    color: #333;
    background-color: rgba(33,34,35,1);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    color: #125b9a;
}

b {
    font-weight: 1200;
    font-family: monospace;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: rgba(33,34,35,1);
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: rgba(0,0,0,1);
    border: none;
}

.navbar-default .navbar-brand {
    color: rgb(200,100,100);
    font-family: 'Frijole', sans-serif;
}

.navbar-default .navbar-brand:hover {
    color: #125b9a;
    /* text-decoration: underline; */
}

.navbar-default .navbar-nav li a {
    color: #fff;
}

.navbar-default .navbar-nav li a:hover {
    color: #fff;
    text-decoration: underline;
}

.navbar-default .navbar-nav .active a {
    color: #fff;
    background-color: rgba(33,34,35,1)	
}

.navbar-default .navbar-toggle:hover{

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#blog-icon {
    font-size: 20px;
}

#content, #sidebar {
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 12px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
    color: grey;
}

footer a {
    color: rgb(200,100,100);
}

#bio-links {
    font-size: 20px;
}

#bio-links a {
    margin: 0px 5px;
}

blockquote footer {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 0;
}

.post-header {
    margin-bottom: 20px;
}
.post-header h2 {
    font-size: 32px;
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    border-bottom: 1px solid #777;
    margin-bottom: 20px;
}

#page-header h2 {
    font-size: 32px;
}

pre {
    overflow-x: auto;
}
pre code {
    display: block;
    padding: 0.5em;
    overflow-wrap: normal;
    white-space: pre;
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: rgb(200,200,200);
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 35px 20px 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 50px;
        padding: 35px 20px;
    }
    #content, #sidebar {
	margin-top: 30px;
    }
    #content {
	padding: 20px 40px;
    }
    #sidebar {
        padding: 30px 10px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 16px;
    }
    .navbar-default .navbar-brand {
        font-size: 42px;
    }
    #content{
        padding: 15px;
    }
    #sidebar{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
